# Bot name: TxRadar
# Bot username: TxRadarWeb3Bot
# Bot Token
TELEGRAM_BOT_TOKEN=Your_Telegram_bot_token_here

# ALCHEMY WEBSOCKET
ALCHEMY_WS_URL=wss://eth-mainnet.g.alchemy.com/v2/access_key

# ALCHEMY HTTPS
ALCHEMY_URL=https://eth-mainnet.g.alchemy.com/v2/access_key

# DB CONFIGS
MYSQL_HOST=your_host_here
MYSQL_PORT=your_port_here
MYSQL_USER=your_user_here
MYSQL_PASSWORD=your_password_here
MYSQL_DB=your_db_here

# CONFIRMATINS
TARGET_CONFIRMATIONS=12